/* Custom theme for peppercarrot.com
 * Copyright (c) 2015 David Revoy,GPL license
 * (http://www.gnu.org/licenses/gpl.html)
*/

/* Typo */
@font-face { font-family: 'PepperCarrot'; src: url('../font/PepperCarrot.woff') format('woff'); font-weight: normal; font-style: normal; }
body { background-color: #FFFFFF; color: #412813; font-family: ubuntu, arial, sans-serif; }
a { background: transparent; color: #4f901b; text-decoration: none; }
a:active, a:hover { color: #444; outline: 0; text-decoration: none; }
pre,code { color:#111; background-color: #FFF9F2; padding: 8px; line-height: 2rem!important; font: 13px Consolas, "Liberation Mono", Menlo, Courier, monospace; overflow:auto; }
h1, h2, h3, h4, h5, h6 { font-family: 'PepperCarrot', cursive, sans-serif;}
h1 { font-size:2.4rem; }
h2 { font-size:2.0rem; }
h3 { font-size:1.5rem; margin-top:0.6rem; }
h4 { font-size:1.2rem }
figure + em, img + em, h1 + p em { display: block; max-width: 75%; margin: 0 auto; color: #6b5e4f; font-size: 1.1rem; text-align: center!important;}

/* Main style */
.main {	margin: 56px 0 1rem 0; }
.containercomic { margin:0 auto; padding-left:1rem; padding-right:1rem; width:100% }
.menu.expanded li:hover { background-color: rgba(255,255,255,0); }
.menu.expanded li.active:hover { background-color: rgba(255,255,255,0); color: rgba(255,255,255,0); }

/* buttons */
.button a { text-decoration: none; color: #FFFFFF!important; background: #98C25C url('../img/grain.png');  margin: 0.2rem 0.3rem; padding: 6px 8px; text-align: center; border-radius: 4px; box-shadow: 0 0 0 2px #98C25C inset, 0 0 0 3px rgba(255,255,255,0.80) inset, 2px 2px 3px 0 rgba(20,0,0,0.50); transition: all 0.2s ease-in;}
.button a:hover { filter: brightness(1.1); transition: all 0.2s ease-in;}

/* button's colors */
.mandarine a { background-color: orange; box-shadow: 0 0 0 2px orange inset, 0 0 0 3px rgba(255,255,255,0.80) inset, 2px 2px 3px 0 rgba(20,0,0,0.50);}
.cherry a { background-color: LightCoral; box-shadow: 0 0 0 2px LightCoral inset, 0 0 0 3px rgba(255,255,255,0.80) inset, 2px 2px 3px 0 rgba(20,0,0,0.50);}
.gum a { background-color: #61C6B6; box-shadow: 0 0 0 2px #61C6B6 inset, 0 0 0 3px rgba(255,255,255,0.80) inset, 2px 2px 3px 0 rgba(20,0,0,0.50);}
.choco a { background-color: #9B7761; box-shadow: 0 0 0 2px #9B7761 inset, 0 0 0 3px rgba(255,255,255,0.55) inset, 2px 2px 3px 0 rgba(20,0,0,0.50);}
.moka a { color: #806E5B!important; background-color: #F0ECE9; box-shadow: 0 0 0 2px #F0ECE9 inset, 0 0 0 3px rgba(222,168,131,0.55) inset, 1px 1px 2px 0 rgba(20,0,0,0.50);}
.milk a { color: #544840!important; background-color: #FFF; box-shadow: 0 0 0 2px #FFF inset, 0 0 0 3px rgba(0,0,0,0.25) inset, 1px 1px 2px 0 rgba(20,0,0,0.50);}
.big { font-size:1.20rem;}
.off { opacity: 0.25;}
.off, .off:hover { color: #EEE; cursor: not-allowed;}
.off img { opacity: 0.05; }

/* Cards */
.cardsocket { min-height: 550px; margin-bottom: 1rem; padding-left: 0.5rem; padding-right: 0.5rem;}
.cardblock { min-height: 535px; width: 100%; text-align: center; padding: 0 0; background: #F0ECE9 url('../img/bg.jpg'); border: 16px solid transparent; border-image: url('../img/cards.jpg') 10% round; }
.cardblockcontent { min-height: 460px; }
.cardblockcontent p { width: 90%; text-align: justify; margin: 10px auto 0 auto;}
.cardblock h3 { font-size: 1.8rem; margin-bottom: 0;}
.cardby { color: #ababab; font-size: 0.90rem;}
.cardblock img {width: 95%; margin: 0 0 10px 0; }
.cardlink {text-align: center; width: 100%; margin-bottom: 0.5rem; color: #ababab; font-size: 0.90rem; }
.cardblock .button a { display:inline-block; font-size:1.1rem; width: 90%; margin-bottom: 10px;}
.mini { min-height: 100%; border-image: url('../img/cards-pencil.jpg') 10% round; background: none; font-family: "Georgia", Times, serif; }

/* Header */
.header { z-index: 9; position: fixed; top: 0; width: 100%; background: url('../img/header-bg.jpg') top left; border-bottom: 1px solid rgba(64,56,52,0.4); box-shadow: 0 0.1rem 0.1rem rgba(49,20,0,0.3); }
.header a { text-decoration: none;}
.header h1 { margin: 4px 0 0 7px; padding: 0 0; }
.header h1 a { color: #412813; }
.title { text-align: center;}
.title img { margin: 5px 0  0 5px;}

/* Header menu */
.menu.expanded { margin-top: 5px; }
.menu.expanded li a { font: normal 1.5rem 'PepperCarrot', cursive; color: #6A533B; transition: all 1.2s ease-in; }
.menu.expanded li a:hover { text-shadow: 1px 0px 30px green, 1px 0px 20px yellow, 1px 0px 10px yellow, 1px 0px 5px white, 1px 0px 5px white; color: #604F3E; transition: all 0.2s ease-in; filter: brightness(1.1); }
.menu.expanded li.active a, .menu.expanded li.active a:hover { color: #412813; background-color: rgba(0,0,0,0); text-shadow: 1px 0px 30px white, 1px 0px 20px white, 1px 0px 10px white, 1px 0px 5px white, 1px 0px 5px white; transition: all 0.2s ease-in; }
.responsive-menu label { color: #3A2619; background-color: transparent; font: normal 2rem 'PepperCarrot', cursive; text-align: left;}

/* Header right part */
.patronage { display:inline-block; max-width: 180px; height: 42px; margin: 3px auto 0 auto ; padding: 2px 0 3px 0; top: 0px; bottom: 0px; text-align: center; font-size: 0.92rem; line-height: 1.15rem; background: #a7755b url('../img/grain.png'); box-shadow: 0 0 0 2px #a7755b inset, 0 0 0 3px rgba(255,255,255,0.50) inset, 2px 2px 3px 0 rgba(20,0,0,0.50); border-radius: 4px; }
.patronage a { display:inline-block; color: #FFF; }
.patronage:hover { filter: brightness(1.1); transition: all 0.2s ease-in;}

/* Translations dropdown menu */
.langmenu { font-size: 0rem; margin: 0; padding-left: 0;}
.langmenu li { display: inline-block; font-size: 1.1rem; list-style-type: none; margin-left: 1rem; text-align: left; }
.langmenu li:first-child { margin-left: 0;}
.langmenu li.active a {	color: #444;}
.langmenu.vertical li {	display: block;	margin-left: 0;}
.langmenu.expanded li {	margin-left: 0;}
.langmenu.expanded li:hover {	background-color: transparent;}
.langmenu.expanded li a {	color: #412813; display: block;	padding: .425rem .7rem;}
.langmenu.expanded li a:hover {	text-decoration: none; text-shadow: 1px 0px 30px green, 1px 0px 20px yellow, 1px 0px 10px yellow, 1px 0px 5px white, 1px 0px 5px white; transition: all 0.2s ease-in;}
.langmenu.breadcrumb li + li:before, .langmenu.expanded.breadcrumb > li + li a:before { content: "/";}
.langmenu.breadcrumb li + li:before, .langmenu.expanded.breadcrumb > li + li:before, .langmenu.expanded.breadcrumb > li + li a:before { margin-right: .7rem;}
.langmenu.expanded.breadcrumb > li + li:before { content: none;}
.langmenu.expanded li.active a, .langmenu.expanded li.active:hover { background-color: transparent; color: #412813; text-shadow: 1px 0px 30px green, 1px 0px 20px yellow, 1px 0px 10px yellow, 1px 0px 5px white, 1px 0px 5px white; transition: all 0.2s ease-in; }
.responsive-langmenu label { background-color: #FFF;	color: #1a1a1a;	text-align: right; }
.translabutton { cursor: pointer; display:inline-block; background-color: #FFF; color: #1a1a1a; border: 1px solid #cecece; margin: 0 -0.7rem 0.3rem 0; padding: 8px 12px; border-radius: 5px; box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.1); text-decoration: none; }
.responsive-langmenu label, .responsive-langmenu input[type=checkbox] {	display: none;}
.responsive-langmenu label { padding: .425rem .7rem;}
.responsive-langmenu input[type=checkbox]:checked+ul { display: block;}
.responsive-langmenu ul { display: none; column-count: 4; margin: 0 0 1rem 0; border: 1px solid #cecece; border-radius: 5px; box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.1); }
.responsive-langmenu label, .responsive-langmenu ul li {display: block; margin-left: 0}
.responsive-langmenu ul li:hover {background-color: #ddd;}
.responsive-langmenu ul li a {display: block;padding: .425rem .7rem;}
.responsive-langmenu ul li a:hover {text-decoration: none;}
.responsive-langmenu .langmenu.breadcrumb li + li:before, .responsive-langmenu .langmenu.expanded.breadcrumb > li + li a:before {content: none;}
.responsive-langmenu ul li.active a, .responsive-langmenu ul li.active:hover {background-color: #258fd6;color: #fff;}
.percent { color: #808080; font-size: 0.8rem; }

/* Homepage cover */
.cover { height: 400px; border-radius: 0.4rem; margin-bottom: 0.3rem; background: url('../img/pepper-carrot-cover5_by-david-revoy.jpg') no-repeat bottom left; }
.cover h1 { color: #222228; margin: 0.4rem 0.4rem 1.4rem 0.4rem; line-height: 2.8rem; font-size: 2.4rem; text-align:right; text-shadow: 0 0 25px #FFF, 0 0 25px #FFF, 0 0 25px #FFF, 0 0 25px #FFF, 0 0 25px #FFF, 0 0 25px #FFF; }
.homepage-title { font-family: 'PepperCarrot', cursive; font-size:1.5rem;}
.covertextoverlay { position: absolute; right: 5.5rem; top: 1.8rem; text-align:right; }
#supportmebox { position: absolute; right: -1.5rem; top: 9.4rem; color: #222; width: 450px; height: 170px; text-align: center; border-radius: 0.4rem; }
#moreinfobox { position: absolute; right: 0rem; top: 21rem; color: #222; width: 450px; height: 170px; text-align: right; border-radius: 0.4rem; }
.moreinfobutton	{ color: #FFF; background: #FFA930 url('../ico/go.svg') no-repeat center right 12px; font-size: 1rem; font-family: ubuntu, arial, sans-serif; text-align: center; padding: 8px 28px 9px 8px; margin: 0 4px 0 0;	border-radius: 6px; cursor: pointer; box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.3); }
.moreinfobutton:hover	{ background-color: #FFD36E; color: #fff;}

/* Thumbnail pictures*/
.thumbnail img{ position: relative; box-shadow: 0px 0px 0 1px rgba(20,0,0,0.15); border: 4px solid #FFFFFF; margin: 0; transition: all 0.2s ease-in;}
.thumbnail img:hover { filter: brightness(1.1); transition: all 0.2s ease-in; }
.thumbnail figcaption{ min-height: 2.3rem; text-decoration: none; font-size: 0.85rem; overflow: hidden; white-space: nowrap; margin-bottom: 0.3rem; }
.thumbnail figcaption a { color: #444; }
.thumbnail figcaption a:hover { text-decoration: none; color: #258fd6; }
.thumbnail .detail, .thumbnail .detail a{ color: #BBB; font-size: 0.8rem; }
.notranslation img { filter: sepia(0.8); opacity: 0.42; }

/* prev/next button webcomic */
.readernav { margin 1.2rem 0 1.2rem 0; padding: 0.6rem 0 0 0; clear:both; max-width: 915px }
.readernavbutton { display:block; width: 100%; background-color: #FFF; margin-bottom: 0.2rem; padding: 6px 8px 6px 8px; font-size: 1.5rem; font-family: 'PepperCarrot'; text-decoration: none;}
.readernav a { color: #b6b1ae;}
.readernav a:hover { color: #948780;}
.readernavbutton:hover { text-decoration: none;}
.readernavbutton .smaller { font-size: 1.1rem; color: #6daae2;}

/* Footer of webcomic */
.sourcebutton { background: #D7EBFA url('../ico/dl_sources.svg') no-repeat center left 10px; padding: 0.6rem 0.7rem 0.6rem 3rem; border-radius: 10px }

/* Philosophy page */
.philo { text-align: center;}
.philo p { margin: 2rem auto; max-width: 550px; text-align: justify; font-family: "Georgia", Times, serif; font-size: 1.2rem;}
.philo img { margin: 1rem 0 3.8rem 0;}
.philo .button { text-align: center;  display: block;}
.philo .button a { display: block; max-width: 300px; margin: 0 auto 2.5rem auto;}

/* Scenario page */
.scenariolist { color: #6e523c; font-size: 1.6rem; display: block; margin: 5px auto 0 auto; text-align: center; }
.notes { color: #a45d25; font-size: 1rem; }

/* Wiki and default pages themes */
.notice {color:#aaa;}
.page { background: url('../img/bg.jpg'); border: 16px solid transparent; border-image: url('../img/page.jpg') 10% round; padding: 15px 120px 0 120px; font-family: "Georgia", Times, serif; text-align: justify; font-size: 1.2rem; margin-top: 16px;}
.page hr { border: double 4px #A79281;}
.page p::first-letter { font-size:  1.6rem; margin-right: 1px;}
.page img { max-width: 125%; display: block; text-align: center; margin-left: 50%; border: 16px solid transparent; border-image: url('../img/border.png') 10% round; transform: translate(-50%, 0); }
.page .edit { text-align: right; margin-right: -18%;}
.page .edit .button { display:inline-block; font-size: 1rem;}
.page .edit img { display: inline; max-width: 100%; text-align: center; margin-left: 0; margin-right: 0; border: none; transform: translate(0, 0); }
.page h1{ font-size: 3.5rem; text-align: center; padding-bottom: 2.6rem; background: transparent url('../img/bordure.png') no-repeat bottom center;}
.page h2{ color: #50321e; font-size: 2.2rem; text-align: center; margin-bottom: 3rem;}
.page h3{ font-size: 1.8rem; margin-top: 2.6rem;}
.wikivertimenu { padding-top: 1rem;}
.wikibutton { width: 100%; display: block; box-sizing: border-box; padding: 0.2rem 0.7rem 0.4rem 1rem; margin-bottom: 0.5rem; border-radius: 4px; box-shadow: 0 0 0 2px #F0ECE9 inset, 0 0 0 3px rgba(222,168,131,0.55) inset, 1px 1px 2px 0 rgba(20,0,0,0.50); background: url('../img/bg.jpg'); font: normal 1.4rem 'PepperCarrot', cursive; text-align: left;  color: #412813; transition: all 0.2s ease-in;}
.wikibutton.active { color: #111; background: #fff;}
.wikibutton:hover { text-shadow: 1px 0px 30px green, 1px 0px 20px yellow, 1px 0px 10px yellow, 1px 0px 5px white, 1px 0px 5px white; text-decoration: none; transition: all 0.2s ease-in;}
.edit { padding-left: 1.2rem; line-height: 1.6;}
.page .credits { font-size: 1rem; text-align: center; padding-top: 2.6rem; background: transparent url('../img/bordure.png') no-repeat top center;}

/* Sources page */
.source { background-color: #FFF; margin-bottom: 2rem; font-size: 1rem; }
.filesize { font-size: 0.7rem; color: #999; }
.sourcescaptions {height: 3rem;}
.buttonkrazip { background: #AE6A6A; background-image: linear-gradient(to bottom, #f7f7f7, #ababab); border-radius: 0.6rem; color: #262526; border: solid #DADADA 1px; margin: 0 0 0 0; padding: 0.6rem;}
.buttonkrazip .ico{ font-size: 24px; float:left; color: #888; margin: 5px 10px 0 5px; }
.buttonlangzip {background: #AE6A6A; background-image: linear-gradient(to bottom, #f7f7f7, #ababab); border-radius: 0.6rem; color: #262526; border: solid #DADADA 1px; margin: 1rem 0 2rem 0; padding: 0.6rem;}
.buttonlangzip .ico{ font-size: 24px; float:left; color: #888; margin: 5px 10px 0 5px; }
.content { max-width: 1000px; margin: 0 auto; }
.content img{ margin-top: 0.7rem; }
.readme { font-size: 0.8rem;}
.readme ul {  margin: 0; padding: 0; }
.readme li { margin: 0; padding: 0; }
.readme h1,.readme h2 { font-size: 1.4rem;}

/* Footer */
.footer { color: #3A2619; background: url('../img/header-bg.jpg') center center; border-top: 1px solid rgba(64,56,52,0.1); box-shadow: 0 -0.1rem 0.2rem rgba(49,20,0,0.2); padding: 0.6rem 0 1rem 0; }
.footer img { margin: 0.2rem 0.2rem 0 0; }
.footer img:hover { filter: brightness(1.2); }
.footer p{ font: normal 0.8rem ubuntu, arial, sans-serif; margin: 0.4rem; }
.footer a{ color: #3A2619; text-decoration: underline; }
.footer a:hover{ text-decoration: none; color: #C02200}

/* RESPONSIVE RULES*/
/* ----------------*/
/* Tablet mode */
@media (max-width: 1140px) {
.cover h1 { font-size: 2.2rem; }
.menu.expanded li a { padding: .425rem .6rem .425rem 0;}
input[type=search] { margin: 1.2rem 0 1.2rem 0; max-width: 300px; }
.header h1 { font-size: 2rem; margin: 7px 0 0 7px; }
.cover h1 { top: 1rem; right: 0; font-size: 2rem; width: 500px; }
.cover { background: url('../img/pepper-carrot-cover5_by-david-revoy.jpg') no-repeat 11% 80%; text-align: right;}
.moreposts { text-align: center; margin: 1rem 0 0 0; }
.moreinfobutton {position: absolute; top: 200px; right: 0; width: 180px; }
.cardblock h3{ font-size: 1.6rem; }
.cardblock .button {font-size: 1rem; }
.cardblock .button a { display:inline-block; min-width: 90%; font-size: 1rem;}
.responsive-langmenu ul { column-count: 3; }
}
/* (1023=plucss-med) Tablets and Laptops */
@media (max-width: 1023px) {
.wikivertimenu { column-count: 3;}
.page { padding: 15px 80px 0 80px; font-size: 1.2rem;}
.page .edit { margin-right: -8%;}
.header { background: rgba(255,255,255,0.95) url('../img/header-small.jpg') repeat-x top center ; }
.menu.expanded li a { padding: .5rem .6rem .5rem .8rem;}
.containercomic .main {margin: 56px -0.8rem 0 -0.8rem; }
.containercomic {padding-left: 0; padding-right: 0;}
.readernav { margin: 0 0 0 0; padding: 0 25px 0 15px;}
}
/* (767=plucss-sml) Tablet mode: vertical */
@media (max-width: 767px) {
.thumbnail, .thumbnail img { width: 100%;}
.cover { background: url('../img/pepper-carrot-cover5_by-david-revoy.jpg') no-repeat 15% 80%; }
.cover h1 { font-size: 1.8rem; line-height: 2.4rem; width: 500px; margin: 0.3rem 0 1rem 0;}
.covertextoverlay { right: 2.3rem;}
.cardsocket { min-height: 550px;}
.cardblock { min-height: 550px;}
.mini { min-height: 100%; }
.wikivertimenu { column-count: 2;}
.page { padding: 15px 20px 0 20px; font-size: 1.2rem;}
.page .edit { margin-right: -2%;}
.readernavbutton { padding: 3px 4px 3px 4px; font-size: 1.25rem;}
.readernav { margin: 0 0 0 0; padding: 0 25px 0 15px;}
}

/* Smartphones: vertical */
@media (max-width: 500px) {
.container {padding: 0;}
.patronage { font-size: 0.8rem; }
.cover { background: rgba(225, 231, 227, 1) url('../img/pepper-carrot-cover5_by-david-revoy.jpg') no-repeat 15% 0; }
.cover h1 { font-size: 1.4rem; line-height: 1.8rem; margin: 0.3rem 0 1.1rem 0;}
.covertextoverlay { right: 1.3rem;}
.responsive-langmenu ul { column-count: 2; }
.responsive-menu label { font-size: 1.8rem;}
.cardsocket { width: 100%!important;}
.big { font-size:1.10rem;}
.page { font-size: 1.1rem;}
.readernavbutton { margin: 0 auto 0 auto; padding: 3px 4px 3px 4px; font-size: 1.15rem;}
.readernav { margin: 0 0 0 0; padding: 0 25px 0 15px;}
.mini img { display: none;}
.mini { border-image: none!important;}
}
